.page
{
    background-color: black;
}



.header
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Arial; 

    
}

.title{
  font-size: 50px;
  margin: 20px 0 0 0;
  text-decoration: underline;
  text-underline-offset: 11px;

}

.description
{
    font-size: 20px;
    margin: 30px 0 0 0;
    font-weight: 700;
    color: yellow;
    font-style: italic;


}


@media screen and (max-width: 900px)
{
    .page
    {
        background-color: darkgray;

    }
    
    .title
    {
        font-size: 60px;
    }

    .description
    {
        font-size: 24px;
    }
}