.page
{
    background-color: black;
    margin: 0;
}



.header
{
    display:flex;
    flex-direction: column;
    margin: 20px 20px 0px 20px;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
}

.header-me
{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.header-portfolio-picture
{
    width: 120px;
    border-radius: 1000px;
    border: 3px white solid;
}

.header-portfolio-name
{
    color: white;
    margin: 0 20px;
    font-size: 40px;
    text-decoration: underline;
    text-underline-offset: 13px;
}

.header-links
{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    

    
}

.linkedin-icon
{
    background-color: white;
    padding: 20px 30px;
    height: 20px;
    border-radius: 80px;
    border: 2px lightgrey solid;
    transition: box-shadow .15s;


}

.github-icon
{
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    height: 40px;
    border-radius: 80px;
    border: 2px lightgrey solid;
    transition: box-shadow .15s;
}

.linkedin-icon:hover, .github-icon:hover
{
    box-shadow: 0 5px 8px rgba(100, 100, 100, 0.8);

}

.linkedin-icon:active, .github-icon:active
{
    opacity: 0.5;
    box-shadow: 0 2px 8px rgba(100, 100, 100, 0.8);

}


.click-me
{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    font-style: italic;
}




@media screen and (max-width: 900px)
{
    .header-portfolio-name
    {
        font-size: 30px;
    }
    
    

    
}