/* THEME TOKENS */
/*global scope*/
:root {
  /*WHOLE PAGE*/
  --page-bg: #f7f6f3;        /*background color for the whole page.*/
  --text: #0f172a;           /*default text color.*/
  --glow-blue: rgba(139, 221, 228, 0.205);
  --glow-warm: rgba(245, 179, 112,  0.205);
  --glow-green: rgba(2, 94, 57, 0.205);
  --glow-base-top: rgba(255,255,255,.92);
  --glow-base-bot: rgba(255,255,255,.55);
  --grid-line: rgba(228, 228, 228, 0.164);
  
}

html[data-theme="dark"] {
  /*WHOLE PAGE*/
  --page-bg: rgb(18, 28, 33);               /* rgb(18,28,33) */
  --text: #f6f2ea;                  /* close to his rgb(246,242,234) */
  --glow-blue: rgba(139, 221, 228, 0.205);
  --glow-warm: rgba(245, 179, 112,  0.205);
  --glow-green: rgba(2, 94, 57, 0.205);
  --glow-base-top: rgba(255,255,255,.06);
  --glow-base-bot: rgba(255,255,255,.02);
  --grid-line: rgba(255, 255, 255, 0.034);


}

/* APPLY TOKENS */
body {
  margin: 0;
  background: var(--page-bg);
  color: var(--text);
}

